In [22]:
import pandas as pd

In [44]:
class OneHotEncoder():
    def __init__(self):
        self.colsToBeOHC={}
    def fit_transform(self,df):
        for i in df.select_dtypes(include=['object']).columns:
            if i not in self.colsToBeOHC:
                self.colsToBeOHC[i]=[i+"_"+uni for uni in df[i].unique()]
                print(self.colsToBeOHC)
        return self.transform(df)
    

    def transform(self,df_in):
        df=df_in.copy()
        for i in df.select_dtypes(include=['object']).columns:
            for j in range(len(df[i])):
                val=i+"_"+df.loc[j,i]
                if val in self.colsToBeOHC[i]:
                    df.loc[j,val]=1
        df=df.fillna(0)
        return df

In [45]:
data=pd.read_csv('data.csv')

In [46]:
ohc=OneHotEncoder()

In [47]:
ohc.fit_transform(data)

{'Country': ['Country_France', 'Country_Spain', 'Country_Germany', 'Country_India']}
{'Country': ['Country_France', 'Country_Spain', 'Country_Germany', 'Country_India'], 'Purchased': ['Purchased_No', 'Purchased_Yes']}

,Age,Salary,Country,Purchased,Country_France,Country_Spain,Country_Germany,Country_India,Purchased_No,Purchased_Yes
0,25.0,50000.0,France,No,1.0,0.0,0.0,0.0,1.0,0.0
1,30.0,54000.0,Spain,Yes,0.0,1.0,0.0,0.0,0.0,1.0
2,0.0,61000.0,Germany,No,0.0,0.0,1.0,0.0,1.0,0.0
3,38.0,0.0,Spain,No,0.0,1.0,0.0,0.0,1.0,0.0
4,40.0,0.0,Germany,Yes,0.0,0.0,1.0,0.0,0.0,1.0
5,35.0,58000.0,France,Yes,1.0,0.0,0.0,0.0,0.0,1.0
6,0.0,52000.0,India,Yes,0.0,0.0,0.0,1.0,0.0,1.0
7,48.0,79000.0,France,Yes,1.0,0.0,0.0,0.0,0.0,1.0