In [22]:
import pandas as pd

In [ ]:
class OneHotEncoder():
    def __init__(self):
        self.colsToBeOHC={}
    def fit_transform(self,df):
        for i in df.select_dtypes(include=['object']).columns:
            if i not in self.colsToBeOHC:
                self.colsToBeOHC[i]=[i+"_"+uni for uni in df[i].unique()]
                print(self.colsToBeOHC)
        return self.transform(df)
    

    def transform(self,df_in):
        df=df_in.copy()
        for i in df.select_dtypes(include=['object']).columns:
            print(i)
            for j in range(len(df[i])):
                val=df.loc[j,i]
                if val in self.colsToBeOHC[i]:
                    df.loc[j,val]=1
        df=df.fillna(0)
        return df

In [32]:
data=pd.read_csv('data.csv')

In [33]:
ohc=OneHotEncoder()

In [35]:
ohc.fit_transform(data)

    Age   Salary  Country Purchased
0  25.0  50000.0   France        No
1  30.0  54000.0    Spain       Yes
2   0.0  61000.0  Germany        No
3  38.0      0.0    Spain        No
4  40.0      0.0  Germany       Yes
5  35.0  58000.0   France       Yes
6   0.0  52000.0    India       Yes
7  48.0  79000.0   France       Yes